[submodule "courses/Java与移动智能设备开发/Android基础"]
	path = courses/Java与移动智能设备开发/Android基础
	url = git@github.com:edu2act/course-android.git
[submodule "courses/Java与移动智能设备开发/Android综合应用"]
	path = courses/Java与移动智能设备开发/Android综合应用
	url = git@github.com:edu2act/course-Android-Integrated-Application.git
[submodule "courses/Python与机器学习/机器学习基础"]
	path = courses/Python与机器学习/机器学习基础
	url = git@github.com:edu2act/course-machine-learning-foundation.git
[submodule "courses/Python与机器学习/深度学习进阶"]
	path = courses/Python与机器学习/深度学习进阶
	url = git@github.com:edu2act/course-deep-learning-advanced.git
[submodule "courses/Python与机器学习/决策树与集成算法"]
	path = courses/Python与机器学习/决策树与集成算法
	url = git@github.com:edu2act/course-decision-tree.git
[submodule "courses/Python与机器学习/聚类与推荐算法"]
	path = courses/Python与机器学习/聚类与推荐算法
	url = git@github.com:edu2act/course-RecSys.git
[submodule "courses/Java与大数据分析/Python与数据挖掘"]
	path = courses/Java与大数据分析/Python与数据挖掘
	url = git@github.com:edu2act/course-Python.git
[submodule "courses/基础课程/程序设计基础（C语言）"]
	path = courses/基础课程/程序设计基础（C语言）
	url = git@github.com:edu2act/course-C.git
[submodule "courses/PHP与云计算技术/Hadoop架构"]
	path = courses/PHP与云计算技术/Hadoop架构
	url = git@github.com:edu2act/course-Hadoop.git
[submodule "courses/Java与大数据分析/Hadoop架构"]
	path = courses/Java与大数据分析/Hadoop架构
	url = git@github.com:edu2act/course-Hadoop.git
[submodule "courses/PHP与云计算技术/Linux平台PHP服务端开发"]
	path = courses/PHP与云计算技术/Linux平台PHP服务端开发
	url = git@github.com:edu2act/course-php-serverside-development-on-linux.git
[submodule "courses/基础课程/项目管理"]
	path = courses/基础课程/项目管理
	url = git@github.com:edu2act/course-IT-Project-Management.git
[submodule "courses/基础课程/Linux系统基础"]
	path = courses/基础课程/Linux系统基础
	url = git@github.com:edu2act/course-linux-system.git
[submodule "courses/HTML5与移动互联网开发/SPA富应用开发"]
	path = courses/HTML5与移动互联网开发/SPA富应用开发
	url = git@github.com:edu2act/course-spa.git
[submodule "courses/基础课程/网络原理"]
	path = courses/基础课程/网络原理
	url = git@github.com:edu2act/course-NetWork.git
[submodule "courses/基础课程/WEB开发（一）"]
	path = courses/基础课程/WEB开发（一）
	url = git@github.com:edu2act/course-web1.git
[submodule "courses/基础课程/操作系统"]
	path = courses/基础课程/操作系统
	url = git@github.com:edu2act/course-OS.git
