[submodule "courses/Java与移动智能设备开发/Android基础"]
	path = courses/Java与移动智能设备开发/Android基础
	url = git@github.com:edu2act/course-android.git
[submodule "courses/Java与移动智能设备开发/Android综合应用"]
	path = courses/Java与移动智能设备开发/Android综合应用
	url = git@github.com:edu2act/course-Android-Integrated-Application.git
[submodule "courses/Python与机器学习/机器学习基础"]
	path = courses/Python与机器学习/机器学习基础
	url = git@github.com:edu2act/course-machine-learning-foundation.git
[submodule "courses/Python与机器学习/深度学习进阶"]
	path = courses/Python与机器学习/深度学习进阶
	url = git@github.com:edu2act/course-deep-learning-advanced.git
[submodule "courses/Python与机器学习/决策树与集成算法"]
	path = courses/Python与机器学习/决策树与集成算法
	url = git@github.com:edu2act/course-decision-tree.git
