[submodule "courses/Java与移动智能设备开发/Android基础"]
	path = courses/Java与移动智能设备开发/Android基础
	url = git@github.com:edu2act/course-android.git
[submodule "courses/Java与移动智能设备开发/Android综合应用"]
	path = courses/Java与移动智能设备开发/Android综合应用
	url = git@github.com:edu2act/course-Android-Integrated-Application.git
